@charset "UTF-8";
#total{
	color: blue;
	background-image:url(sky.jpeg);
	width: 800px;
	height: 1500px;
	font-size: 20px;
}
#top{
	width: 800px;
	padding-left: 120px;
	height: 70px;
	background: yellow;
}
#top li{
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	padding-left: 20px;
	padding-top: 15px; 
	display: table-cell;
	vertical-align: middle;
}
#top li:nth-child(2n+1) {
	background: red;
	box-shadow: 10px 10px gray;
}
#top li:nth-child(2n) {
	background: orange;
	box-shadow: 10px 10px gray;
}
#top li:first-child {
	border-radius: 20px 0 0 20px;
}
#top li:last-child {
	border-radius: 0 20px 20px 0;
}
a{
	text-decoration: overline;
	font-family: 굴림;
	font-size: 20px;
	color: yellow;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	font-family: 궁서;
	font-size: 18px;
	color: white;
}
#content{
	background: pink;
	width: 800px;
	height: 300px;
	padding-top: 50px; 
}
tr{
	width: 500px;
}
.t1{
	width: 100px;
	text-align: center;
}
.t2{
	width: 200px;
	text-align: center;
	padding-bottom: 10px;
}
input[type="text"]{
	background: gold;
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-family: 궁서;
}
.t1:hover {
	background: lime;
	font-weight: bold; 
}
.t3{
	text-align: center;
}
input[type="submit"]{
	color: white;
	background: black;
	font-family: 궁서;
	font-size: 40px;
	font-weight: bold;
}
input[type="submit"]:hover{
	color: brown;
	background: white;
	font-family: 궁서;
	font-size: 40px;
	font-weight: bold;
}
#top2{
	top: 50px;
	right: 5px;
	position: fixed;
	width: 200px;
	height: 150px;
	background: black;
	font-family : 궁서;
	font-size:10px;
	font-weight:bold;
	color: yellow;
	border-top: 5px solid aqua;
	border-bottom: 10px double white;
	border-radius: 100px 10px;
	box-shadow: 10px 10px gray;
}






