@charset "UTF-8";
	
/*슬라이드 몸통 */

.slide{
	background : gray; 
	text-align:center;
	position:relative; 
	width: 1300px; 
	margin: 0 auto; 
	display: block; 
	height:560px;
}

.slide_ul{display: block;}
.slide_ul>li{position:absolute; top:0; left:0; list-style:none;z-index:10; display: block;}
.slide_ul>li img{}
li{list-style: none;}

.show{display:block;}


/* 하단 동그라미 버튼 CSS*/
.slide_btn>li{float: left; margin:0 5px 5px 0;}
.slide_btn>li>a{display:block; width: 10px; height:10px; background: url(../images/spr.png) -24px -125px; text-indent: -999em; }
.slide_btn>li>a.active{background-position: 0 -126px;}

.slide_btn{z-index:100; position:absolute; right: 0; bottom:0; }

.slide_btn:after{content:''; display:block; clear:both;}
.slide_btn{*zoom:1;}

.img-text{
	padding: 5px 10px;
	text-align: center;
	position: absolute;
	top: 50%;
}

#top{
	top: 600px;
	right: 10px;
	position: fixed;
	width: 200px;
	height: 250px;
	background: #ccdefc;
	font-family : solid;
	font-size:30px;
	font-weight:bold;
	color: yellow;
	border-top: 5px solid aqua;
	border-bottom: 10px double white;
	border-radius: 100px 10px;
	box-shadow: 10px 10px gray;
}

.font_family1{
	font-family: 돋움체;
}
.font_family2{
	font-family: 궁서체;
}
.font_family3{
	font-family: 굴림체;
}
.font_family4{
	font-family: Courier;
}
.font_family5{
	font-family: Impact;
}